<!-- Navbar -->
<app-navbar></app-navbar>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<app-sidebar></app-sidebar>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-breadcrumb></app-breadcrumb>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <app-home></app-home>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- footer -->
<app-footer></app-footer>
<!-- /.footer -->
